data/compare.txt filter=lfs diff=lfs merge=lfs -text
data/matches/0.complog filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s0.json filter=lfs diff=lfs merge=lfs -text
data/matches/human_ok.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/Ger.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/IndIpfSg3.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/PlAd.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/Sup.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/IndPrPl2.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/IndPrSg1.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/PlN.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgAdt.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgKom.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgTr.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/ID.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/ImpPrPl2.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgEl.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgG.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/IndIpfIps.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/IndPrPs_.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/PlAbl.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/PlAll.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/qq[[:space:]].json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgAll.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgIll.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgIn.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgN.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgTer.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/IndPrPl1.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/IndPrSg3.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/PlG.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgP.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/PlP.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/PtsPrPs.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/IndPrIps_.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/Inf.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgAbl.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgAd.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/ImpPrSg2.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/IndPrSg2.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/PlEl.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/PlIn.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgAb.json filter=lfs diff=lfs merge=lfs -text
data/matches/comp_s4_paradigms/SgEs.json filter=lfs diff=lfs merge=lfs -text
